.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

.map-container {
  height: 400px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.marker-end {
  background-image: url('https://img.icons8.com/FF00B0/marker.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;

}

.marker-refpoint {
  background-image: url('https://img.icons8.com/color/48/null/point-of-interest.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;

}

.marker-hut {
  background-image: url("https://img.icons8.com/color/48/null/country-house.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;

}

.cursor-pointer {
  cursor: pointer;
}

.marker-start {
  background-image: url('https://img.icons8.com/ff0000/marker.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.authors {
  font-size: small;
  position: absolute;
  bottom: 0;
  max-width: 75%;
}


.difficulty-picker {
  padding: 1rem 0rem;
  width: 100%;
}

.hike-card {
  margin: 1rem 0rem;
  width: 100%;
}

.hike-detail {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.hike-feature {
  padding-left: 3%;
  margin: 0;
}

.basic-filter {
  width: 50%;
}

.local-guide-form {
  padding: 1rem 0rem;
}

.normal-padding-form {
  padding: 1rem 0rem;
}

.navigation-bar {
  margin-bottom: 0.6rem;
  padding: 1rem;
}

.logout-button {
  color: whitesmoke;
  font-size: 2rem;
}

.auth-button {
  display: flex;
  justify-content: right;
  padding: 0rem 1rem;
}

.home-page-link {
  text-decoration: none;
  font-size: x-large;
}

.clickable {
  cursor: pointer;
}

.underlined {
  text-decoration: underline;
}

.alternative {
  color: gray;
  padding: 1rem 0rem;
}


.login-container {
  max-width: 600px;
  padding-top: 2rem;
}

.base-form {
  padding: 2% 0%;
}

.signup-container {
  max-width: 600px;
  padding-top: 2rem;
}

.secondary-link {
  text-decoration: none;
  font-size: large;
  color: rgb(217, 216, 216);
}

.form-container {
  max-width: 600px;
  margin-bottom: 1rem;
}

.form-number {
  max-width: 75px;
}

.basic-link {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.feat-icon {
  width: 16px;
}

.visitor-hike {
  max-width: 96%;
}

.filter {
  font-size: larger;
  cursor: pointer;
}

.danger {
  color: red;
}

.map-margin {
  margin-bottom: 3rem;
}

.map-container-picker {
  height: 400px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  margin: 12px;
  border-radius: 4px;
}

.hike-filters {
  padding-bottom: 3rem;
}

.coordinates {
  width: inherit;
  font-size: 11px;
  color: grey;
}

.search-button {
  margin-top: 1rem;
}

.form-select {
  margin: 1rem 0rem;
  max-width: 370px;
}

.hike-image {
  max-width: 100%;
}

.start-button {
  max-width: fit-content;
  margin-bottom: 2rem;
}

.centered-row {
  align-items: center;
  justify-content: center;
}

.records {
  max-width: 75%;
}

.record-card {
  margin-bottom: 1rem;
  width: 100%;
}

.record-button {
  color: red;
  cursor: pointer;
}

.reference-point {
  margin: 2rem 0rem;
}

.edit:hover{
  color: green;
}

.pbold{
  font-weight: bold;
}

.button{
  width: 100%;
}